@font-face {
    font-family: product;
    src: url(../../Assets/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: product_bold;
    src: url(../../Assets/fonts/Product\ Sans\ Bold.ttf);
}
.heading
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #783e12;
    color: #ffffff;
    width: 100%;
}
.heading_sub
{
    display: flex;
    align-items: center;
    gap:20px;
}
#container
{
    background: url(../img/image.png);
    width:100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#contain
{
    background: url(../img/image.png);
    width:100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* -------------------Logout-------------------------- */

#logoutbtn
{
    width:200px;
    font-size: large;
    color: #ffffff;
    background-color: #401b00;
    font-family:product_bold;
}
#logoutbtn:hover
{
    background-color:#ffffff;
    color: black;
}
#Student:hover
{
    background-color:#ffffff;
    color: black;
}

#Student
{
    width:200px;
    font-size: large;
    color: #ffffff;
    background-color: #401b00;
    font-family:product_bold;
}

/* ------------------Navbar ------------------------*/

.dropdown-menu
{
    background-color: black;
}
.nav-link
{
    color: #ffffff;
}
.nav-link:hover
{
    color: black !important;
    background-color: #ffffff !important;
}
.dropdown_hover
{
    color:#ffffff;
}
.dropdown_hover:hover
{
    color:black;
}

/* ----------------Dabbe--------------------- */
.dabbe
{
    font-size:15px;
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.dabbe_ka_dabba
{
    width:450px;
    height:450px;
    background-color: rgba(120, 62, 18, 0.7);
    border-radius:10%;
    backdrop-filter: blur(5px);
    color:#ffffff;
}
.dabbe_k_dabbe_ka_dabba
{
    width:70%;
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
}
.dabbe_wala_khatka
{
    font-weight: bold;
    background-color: #ffffff;
    color: black;
}
label
{
    font-size:large;
}

*
{
    font-family: product;
}

table 
{
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
}
th 
{
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
}
td 
{
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}

tbody tr 
{
    transition: background 0.25s ease;
}
tbody tr:hover {
    background: #014055;
}
.bookfilter
{
    width:300px;
    font-weight:bold;
    border-radius: 5px;
    border: 2px solid black;
    height:40px;
}
.form-control::placeholder
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#ffffff;
    opacity: 1;
}
.new_css_btn
{
    background-color: #ffffff;
    color:black;
    font-family: product_bold;
}

.new_css_btn:hover
{
    background-color: black;
    color: #ffffff;
}

.new_css_input
{
    background-color: #401b00;
}

.new_css_input:focus
{
    background-color: #401b00;
}